#firstPageButton1,#firstPageButton2,#remoteButton{
	-fx-font: 22 arial;
	-fx-background-color:#d4eeee;
}
#leftButton,#rightButton,#forwardButton{
	-fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
#leftButton{
	-fx-background-image: url("Images/Others/leftIcon.png");
}
#rightButton{
	-fx-background-image: url("Images/Others/rightIcon.png");
}
#forwardButton{
	-fx-background-image: url("Images/Others/forwardIcon.png");
}
#firstPane{
	-fx-background-image: url("Images/Others/background.jpg");
}
#mainPane{
	-fx-background-image: url("Images/Others/background.jpg");
}
#mainViewBox,#mapViewBox{
	-fx-border-color:#d4eeee;  
	-fx-border-width:3px;  

}
#textContainer{
	-fx-background-color: transparent;  
	-fx-control-inner-background: transparent;  
}